.container{
    padding: 20px 0;
    border-bottom: 3px solid #e4e4e4;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.top button{
    background-color: #000;
    color: #fff;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
}
.btnMobile{
    display: none;
    margin: 30px 0;
}
.btnMobile button{
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.featuredImg{
    width: 100%;
    position: relative;
    height: 600px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
.featuredImg img{
    object-fit: cover;
}
.photoText{
    width: 200px;
    padding: 12px 16px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    left: 0;
    bottom: 0;
}
.about{
    display: flex;
    justify-content: space-between;
    color: #656565;
    padding-top: 30px;
    line-height: 1.5;
}
.about h3{
    color: #000;
}
.description{
    max-width: 700px;
}
.description h4{
    margin: 8px 0;
}

.recommendationImgs{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.recommendation{
    text-align: right;
    margin-left: 10px;
    padding-top: 15px;
}
.recImg{
    position: relative;
    width: 100px;
    height: 120px;
}
.recImg img{
    object-fit: cover;
}
.recImg:not(:first-child){
    margin-left: 12px;
}
.recommendation p{
    margin-top: 6px;
}

@media screen and (max-width: 991.98px) {
    .about{
        flex-direction: column;
    }
    .featuredImg{
        height: 550px
    }
    .recommendation{
        text-align: left;
        margin-left: 0;
    }
}

@media screen and (max-width: 767.98px){
    .featuredImg{
        height: 450px
    }
}

@media screen and (max-width: 575.98px){
    .featuredImg{
        height: 300px
    }
    .top button{
        display: none;
    }
    .btnMobile{
        display: block;
    }
}