.container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 0;
   border-bottom: 3px solid #e4e4e4;
   position: sticky;
   top: 0;
   background-color: #fff;
   z-index: 5;

}
.cart{
    position: relative;
    cursor: pointer;
}

.cartCounter{
    width: 15px;
    height: 15px;
    background-color: black;
    color: #fff;
    position: absolute;
    bottom: -6px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
