.container {
 padding: 0 50px 30px;
 max-width: 1440px;
 margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .container{
    padding: 0 20px 30px;
  }
}
@media screen and (max-width: 575.98px){
  .container{
    padding: 0 15px 30px;
  }
}